<nav class='bg-white border-gray-200 dark:bg-gray-900'>
    <div
        class='flex flex-col md:flex-wrap min-[570px]:flex-row justify-between items-center mx-auto max-w-screen-xl p-4 gap-4'>
        <a
            href='https://gelcas.com'
            class='flex self-start'>
            <img
                src='logo-gelcas-x.svg'
                class='h-8 mr-3'
                alt='Gelcas Logo'
            />
        </a>
        <p class='text-white hidden md:block'>Importamos Soluciones</p>
        <div class='md:self-center'>
            <a
                href='https://wa.me/+19494419500'
                class='text-sm text-gray-500 dark:text-white hover:underline'>
                <div class='flex items-center mx-auto gap-2'>
                    <span>+1 (949) 441-9500</span>
                    <img
                        src='whatsapp.svg'
                        alt='whatsApp icon'
                        class='h-4 inline-block w-4'
                    />
                </div>
            </a>
        </div>
    </div>
</nav>
