<nav class='bg-white border-gray-200 dark:bg-gray-900'>
    <div
        class='flex flex-col md:flex-wrap min-[570px]:flex-row justify-between items-center mx-auto max-w-screen-xl p-4 gap-4'>
        <a
            href='https://gelcas.com'
            class='flex self-start'>
            <img
                src='logo-gelcas-x.svg'
                class='h-8 mr-3'
                alt='Gelcas Logo'
            />
        </a>
        <p class='text-white hidden md:block'>Importamos Soluciones</p>
        <div class='self-start'>
            <img
                src='phone.svg'
                alt='phone icon'
                class='h-4 mr-2 inline-block w-3'
            />
            <a
                href='tel:+19494419500'
                class='mr-6 text-sm text-gray-500 dark:text-white hover:underline'
                >+1 (949) 441-9500</a
            >
        </div>
    </div>
</nav>
