<nav class='bg-white border-gray-200 dark:bg-gray-900'>
    <div
        class='grid grid-cols-1 justify-center items-center text-white px-4 font-light text-sm min-[570px]:grid-cols-3 min-[570px]:justify-between divide-y divide-dotted divide-gray-500'>
        <a
            href='https://gelcas.com'
            class='flex justify-center py-3'>
            <img
                src='logo-gelcas-x.svg'
                class='w-40 h-8 min-[570px]:w-52'
                alt='Gelcas Logo'
            />
        </a>
        <div class='flex justify-center py-3'>
            <a
                href='mailto:gelcasinversiones@gmail.com'
                class=''>
                <span>✉️</span>
                gelcasinversiones<span class='text-gray-400'>@</span>gmail.com
            </a>
        </div>
        <a
            href='https://wa.me/+19494419500'
            class='flex justify-center py-3'>
            Whatsapp
            <img
                src='whatsapp.svg'
                alt='whatsApp icon'
                class='w-5 ml-2 h-5'
            />
        </a>
    </div>
</nav>
